<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scraper</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/superhero/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Scraper</a>
    </nav>
    <main class="container mt-4">
      <div id="app">
        <form @submit.prevent="addTerm">
          <fieldset class="form-group">
            <label for="term">Search term</label>
            <input
              v-model="term"
              type="text"
              name="term"
              id="term"
              class="form-control"
              placeholder="Enter a search term"
            />
          </fieldset>
          <button type="submit" class="btn btn-success">Add Search term</button>
        </form>
        <section class="mt-2">
          <ul class="nav nav-tabs">
            <li
              v-for="term in terms"
              @click="setActiveTerm(term)"
              class="nav-item"
            >
              <a
                :class="{ active: activeTerm == term }"
                class="nav-link"
                href="#"
                >{{ term }}</a
              >
            </li>
          </ul>
        </section>
        <section>
          <div
            v-for="result in activeResults"
            class="card mb-3"
            style="max-width: 540px"
          >
            <div class="row g-0">
              <div class="col-md-4">
                <img v-bind:src="result.image" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ result.title }}</h5>
                  <p class="card-text">$ {{ result.price}}</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <a v-bind:href="result.link">To Item</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script src="https://unpkg.com/vue"></script>
    <script src="client.js"></script>
  </body>
</html>
